.tuto-sphere {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    background-color: rgb(111, 88, 88);
    mix-blend-mode: color-burn;
}

.tuto-sphere-container {
    
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 2;

    h1 {
        font-size: 6rem;
        text-transform: uppercase;
        color: $font-color;
    }
}

.tuto-sphere-section {
    height: 100vh;
    background-color: rgb(69, 67, 67);
}
