@import url("https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Montserrat:wght@300;400;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.menu-button {
  z-index: 3;
  position: fixed;
  top: 1vh;
  left: 1vw;
  color: #f1f1f1;
  font-size: calc(1vw + 1vh);
  font-weight: 900;
  font-family: "Elsie", cursive;
  padding: 2rem;
  cursor: pointer;
}
.menu-button:hover {
  transform: translateX(10%);
  transform-origin: right;
  transition: 0.4s ease;
}

.menu-display {
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  padding: 10vw;
  background: url(../images/always-grey.png) rgb(6, 32, 51);
  color: #f1f1f1;
  transform: translateY(-100%);
  letter-spacing: 5px;
}
.menu-display .close-button {
  position: absolute;
  width: fit-content;
  top: 1vh;
  left: 1vw;
  color: #f1f1f1;
  font-family: "Elsie", cursive;
  font-size: calc(1vw + 1vh);
  font-weight: 900;
  padding: 2rem;
  cursor: pointer;
}
.menu-display .close-button:hover {
  transform: translateX(10%);
  transform-origin: right;
  transition: 0.4s ease;
}
.menu-display .menu-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.menu-display .menu-description {
  width: 50%;
  height: 100%;
  text-align: right;
}
.menu-display .menu-description a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-block: 8px;
}
.menu-display .menu-description svg {
  margin-inline: 8px;
  width: 50px;
  height: 50px;
  fill: #f1f1f1;
}
.menu-display .menu-description .menu-powered {
  margin-top: 10vh;
  align-self: flex-end;
}
.menu-display .menu-title {
  font-family: "Elsie", cursive;
  font-weight: 900;
  font-size: 4rem;
  width: 100vw;
  height: 20%;
}
.menu-display .nav-links {
  font-size: 2rem;
  width: 50%;
  min-width: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 800;
}
.menu-display .nav-links li {
  padding-block: 1vw;
  transition: 0.4s ease-in-out;
}
.menu-display .nav-links li:hover {
  transform: translateX(1%) skewX(-5deg);
  transition: 0.4s ease-in-out;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
}

.tuto-sphere {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  background-color: rgb(111, 88, 88);
  mix-blend-mode: color-burn;
}

.tuto-sphere-container {
  height: 100vh;
  display: grid;
  place-items: center;
}
.tuto-sphere-container h1 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #f1f1f1;
  text-align: center;
}

.tuto-sphere-section {
  height: fit-content;
  min-height: 100vh;
  background-color: rgb(69, 67, 67);
  font-size: calc(1vw + 1.5rem);
  color: #f1f1f1;
  padding-inline: calc(6vw + 4rem);
  padding-top: calc(2vh + 5rem);
  display: grid;
}
.tuto-sphere-section h2 {
  margin-block-end: 1rem;
}
.tuto-sphere-section h3 {
  margin-block-start: 3rem;
  margin-block-end: 1rem;
}
.tuto-sphere-section li {
  padding-block: 1rem;
}

/*# sourceMappingURL=style.css.map */
